bower_components
node_modules
logs
examples/vicinity-local-test/output
examples/multi-protocols-test/output
examples/multi-protocols-test/plotter
examples/multi-protocols-test/peer_*
src/*/.*.swp
examples/*/.*.swp
examples/middleware2014/output
examples/middleware2014/peer_*
