@import "fancy.css";

.mainContainer{
  margin:0px auto;
}

.graphsContainer{
  float: left;
  width: 96%;
  height: 650px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 0px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px #999;
  padding: 10px;
  background-color: #FFF;
}

.rpsContainer{
  float: left;
  position: relative;
  font-family: Arial, sans-serif;
  border: 3px double #FF7500;
  width: 48%;
  margin: 5px AUTO;
  height: 96%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.cluContainer{
  float: right;
  position: relative;
  font-family: Arial, sans-serif;
  border: 3px double #FF7500;
  width: 48%;
  margin: 5px AUTO;
  height: 96%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

.formContainer{
  float: left;
  width: 96%;
  /*height: 200px;*/
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px #999;
  padding: 10px;
  background-color: #FFF;
}

.chatContainer{
  float: left;
  width: 96%;
  height: 380px;
  margin-top: 0px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  border-radius: 15px;
  box-shadow: 0px 0px 15px #999;
  padding: 10px;
  background-color: #FFF;
}
